# Set the default behavior, in case people don't have core.autocrlf set.
* text=auto

# Explicitly declare text files you want to always be normalized and converted
# to native line endings on checkout.
*.bib text
*.bst text
*.clo text
*.cls text
*.csv text
*.m text
*.md text
*.par text
*.py text
*.sty text
*.tex text
*.txt text

# Declare files that will always have LF line endings on checkout.
*.sh text eol=lf

# Denote all files that are truly binary and should not be modified.
*.eps binary
*.jpg binary
*.pdf binary
*.png binary
